<div class="con">
    <div>
        <div>Hello {{userName}}</div>
        <div>Please select a movie</div>
    </div>

    <hr />
    <div name="movies-list">
        <uib-tabset active="activeForm">
            <uib-tab ng-repeat="(date, moveData) in movies" heading="{{date}}">
                <div class="row" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-md-6" ng-repeat ="(source, movie) in moveData">
                            <p>{{source}}</p>
                            <div class="thumbnail" ng-class="{'cheap-movie': movie.isCheapMovie}" >
                                <img alt="" ng-src="{{movie.imgSrc}}" data-holder-rendered="true" style="height: 400px; width: 100%; display: block;">
                                <div class="caption">
                                    <h3>{{movie.title}}</h3>
                                    <p>Session: {{movie.sessionTime}}</p>
                                    <p>Genre: {{movie.genre}}</p>
                                    <p>Price: {{movie.price | currency}}</p>
                                    <p>
                                        <a ng-if = !movie.isLoadFromCache class="btn btn-primary" role="button" ng-click="loadMovieInfo(movie.id, source)">Movie Info</a>
                                        <span class="badge badge-warning" ng-if = movie.isLoadFromCache>Service currently not available, please try again</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
